body {
  font-family: monospace;
  background-color: black;
  color: white;
  height: 100vh;
}

input[type="file"] {
  display: block;
  height: 0;
  width: 0;
}

#chooseSection {
  display: none;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative; /*added*/
}

.container #display {
  height: auto; /*added*/
  min-height: 200%; /*added*/
  width: 100%; /*added*/
  position: absolute; /*added*/
  overflow: hidden; /*added*/
  display: flex;
  flex-direction: column;
  font-size: 6vmin;
  -moz-animation: container 8s linear infinite;
  -webkit-animation: container 8s linear infinite;
  animation: container 8s linear infinite;
}

.container #first { /*added*/
  height: auto;
  min-height: 50%;
  margin-bottom: 60px;
  overflow: hidden;
}

.container #second { /*added*/
  height: auto;
  min-height: 50%;
  margin-bottom: 60px;
  overflow: hidden;
}

@keyframes container { /*changed*/
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

.hflex {
  display: flex;
  justify-content: space-between;
}

.lalign {
  text-align: left;
}

.match {
  flex-basis: 6%;
}

.names {
  flex-basis: 46%;
  flex-grow: 1;
}

.one-name {
  flex-basis: 43%;
  flex-grow: 1;
}

.scores {
  flex-basis: 49%;
  flex-grow: 1;
}